global
    log          fd@2 local2
    maxconn      200
    nbthread     4
    user         haproxy
    group        haproxy
    master-worker

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      5s
    hold refused    5s
    hold nx         5s
    hold timeout    5s
    hold valid      5s
    hold obsolete   5s

defaults
    log global
    mode http
    option httplog
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s

frontend frontal
    bind 0.0.0.0:80
    bind 0.0.0.0:443 ssl crt /run/secrets/ alpn h2,http/1.1
    #http-request redirect scheme https code 301 unless { ssl_fc }
    mode http
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    # Security headers
    http-response set-header X-Content-Type-Options nosniff
    http-response set-header X-Frame-Options SAMEORIGIN
    http-response set-header X-XSS-Protection "1; mode=block"
    http-response set-header X-Download-Options noopen
    http-response del-header X-Powered-By
    http-response del-header Server
    http-response del-header Content-Security-Policy
    http-response del-header x-frame-options


    use_backend safa-dev if { hdr(host) -i safa-dev.safa-groupe.dz } { path_beg / }
    use_backend safa-prod if { hdr(host) -i safa-prod.safa-groupe.dz } { path_beg / }
    use_backend safa-preprod if { hdr(host) -i safa-preprod.safa-groupe.dz } { path_beg / }

backend safa-dev
    balance leastconn
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443
    server-template safa- 3 safa-dev_frontend:80 check resolvers docker init-addr last,libc,none


backend safa-prod
    balance leastconn
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443
    server-template safa- 3 safa-prod_frontend:80 check resolvers docker init-addr last,libc,none

backend safa-preprod
    balance leastconn
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443
    server-template safa- 3 safa-preprod_frontend:80 check resolvers docker init-addr last,libc,none




























    #acl is_safa-dev hdr(host) -i cosider.eadn.dz
    #acl is_office hdr(host) -i cosider-office.eadn.dz #path_beg -i /
#
    ## safa-shop app entrypoint
    #acl is_app1 hdr(host) -i app1.safa-groupe.dz

    #use_backend paperpaper if is_collab
    #use_backend office_back if is_office
    #use_backend safa_frontend if is_app1
#

    #http-response add-header Permissions-Policy "interest-cohort=()"
    #http-response add-header Origin-Trial "YOUR_TOKEN_HERE"
    #server office 10.100.6.13:8887 ssl verify none
    #server office 10.100.6.13:4435 ssl verify none





#backend office_server
#    mode tcp
#    balance leastconn
#    server office_agent 10.100.6.13:4435

